@charset "utf-8";
/* CSS Document */

* {margin:0 auto; padding:0 ;}
header, nav, section, aside, footer {display:block}

#mainContainer { width:900px; height:auto; background:#fff;}
#headerDiv {width:1000px; background:#fff; float:none; height:75px;}
h1.logo span.leftLogo a{background: url(../images/logo.jpg) ; width:198px; height:58px; text-indent:-4000px; display:block; }
h1.logo span.leftLogo {float:left; padding:8px;}
#contanerformL {	width: 750px;	height: 564px; background-color: #fff;}
.formcontainerL {width:720px; height:540px; background:#fff;}
.bg_shadow {
	background-image: url(../images/shadow_top.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
}
.login_box_top {
	background-image: url(../images/loginbox_01.gif);
	background-repeat: no-repeat;
	background-position: center top;
	width: 530px;height:17px;
}
.login_box_middle {
	background-image: url(../images/loginbox_02.gif);
	background-repeat: repeat-y;
	background-position: center top;
	width: 530px; height:auto;
}
.login_box_bottom {
	background-image: url(../images/loginbox_03.gif);
	background-repeat: no-repeat;
	background-position: center top;
	width: 530px;height:100px;
}
.bg_shadow_botom {
	background-image: url(../images/shadow_botom.jpg);
	background-repeat: no-repeat;
	background-position: center top;}
.punch_login {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: bold;
	color: #295A34;
}
.doted_line {
	border-top-width: thin;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #295A34;
}
.butt_login {
	background-image: url(../images/loginbutton.png);
	background-repeat: no-repeat;
	background-position: left top;
	height: 32px;
	width: 89px;
	border: 0px;
}
.butt_save {
	background-image: url(../images/save_changes.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	height: 32px;
	width: 100px;
	border: 0px;
}
#letering {margin:10px; padding:10px; list-style-type: none; float:left;}
.punchline { font:Arial, Helvetica, sans-serif; font-size: 24px; font-weight:bold; color:#000000;text-shadow:0px 1px 1px #999999; padding:10px 0px 0px 14px ; display:block;width:100%;}
.letering { font-family:Arial, Helvetica, sans-serif; font-size:20px; font-weight:normal; color: #000000; text-shadow:0px 1px 1px #999999; padding:10px 0px 0px 15px ; display:block; }
#formbox { width:700px; height:500px; background:#009;} 
.username {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	color: #060;
}
.note{color: #000000;font-size:13px;}
table, caption, tbody, tfoot, thead, tr, th, td {    
    border: 0;  width:80%;
}


/**** innser New CSSS *******/
body{ margin:0 auto; padding:0px; color:#010101; font-family:Calibri; font-size:12px; background: #f5f4f0; }

div,p,span,samp,h1,h2,h3,h4,ul,ol { float:left; margin:0 auto; padding:0; font-family:calibri; list-style-type:none;}

.spacer { clear:both; margin:0; padding:0; font-size:0; line-height:0;}

#mainDiv { width:1004px; float:none; }

/* Header Css Starts */
#headerDiv {
	width: 100%;
	position: relative;
	background-color: #F5F4F0;
}
.logo {
	width: 900px;
	background-color: #F5F4F0;
	padding-top: 5px;
	padding-right: 0;
	padding-bottom: 0px;
	padding-left: 60px;
	background-position: center;
}
.logo span{
	width: 198px;
	display: block;
	height: 59px;
	padding-top: 0;
	padding-right: 0px;
	padding-bottom: 0;
	padding-left: 0;
	background-color: #F5F4F0;
	background-position: right;
	float: left;
}
.logo h1 { width:75%; font-size:18px; font-weight:normal; padding-top:10px;}
.logo h1 samp{ width:100%; font-size:12px; font-weight:normal; color:#555555; }

.headTopLft {
	width: 10%;
	float: right;
	padding: 13px 0 0 0;
	color: #598264;
	font-size: 14px;
	font-weight: normal;
	text-align: center;
	font-family:arial;
}
.topLinks {
	width: 46%;
	color: #598264;
	font-size: 14px;
	font-weight: bold;
}
.topLinks samp{display:block; color:#65a4b0; padding:0 0 0 0;}
.topLinks a{text-decoration:none; color:#787777;}
.topLinks a:hover{text-decoration:underline;}
.topSrch { width:49%; background:#FFF; border:1px solid #e0e0e0; border-radius:4px; }
.topSrch input {display:inline-block; }
.topSrch .srchBtn {padding:0; height:22px; width:30px; background:url(../images/icon_search.png) no-repeat 5px 4px; border:none;}
.topSrch .srchBxInpt {border:none; padding:4px 4px 4px 4px; width:170px; }

/*  Top Navigation  */
.menuTop {
	position: relative;
	width: 800px;
	float: none;
	z-index: auto;
}
.dropBox {
	width: 100%;
	background-color: #F5F4F0;
}
/* Ad or Banner Css Starts */

#featureDiv { width:98%; padding:15px 10px; background:#e7f5f7;}
.featureBox1 { width:36%; background:#fff; border:#e0e0e0 1px solid; padding:10px 0; border-radius:5px; margin-right:15px; }
.featureBox1 p {padding:4 0 6px 0; width:100%; text-align:center;}
.featureBox1 p.tlt {font-size:18px;}
.featureBox1 p.font14 {font-size:14px;}
.featureBox1 p.font16 {font-size:16px;}
ul.prcntageBox { width:90%; float:none;}
ul.prcntageBox li{ display:inline-block; width:143px; padding:16px 0 0 0; margin:5px 0 5px 10px; border-radius:4px; background:#b9e1e9; height:94px;}
ul.prcntageBox li span.custmData { width:97px; display:block; padding:10px 0; font-size:14px; float:none; color:#fff; background:#616060; border-radius:4px; text-align:center;}
ul.prcntageBox li span.custmCntnt { width:97px; display:block; font-size:14px; float:none; color:#575757; padding:8px 0; text-align:center;}

.featureBox2 {
	width: 901px;
	border-radius: 10px;
	float: none;
	padding: 10px;
	height: 490px;
	background-image: url(../images/contain_box.png);
	background-repeat: no-repeat;
	background-position: center top;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
/* Content Box CSS Starts */
#contentDiv {
	width: 98%;
	background-color: #F5F4F0;
	padding-top: 1px;
	padding-right: 10px;
	padding-bottom: 15px;
	padding-left: 10px;
	height: 500px;
}

.contentBox1 { width:36%; }
.contentBox2 { width:62.5%; float:right; }

h2.tltHeading { width:100%; font-size:22px; font-weight:bold; color:#1c6776; font-family:arial; border-bottom:1px solid #cccccc; padding:0 0 12px 0;}
h2.tltHeading samp{ display:inline-block; padding:0 0 0 0; margin:0 2px 0 2px;}
/* Footer CSS Starts */
#footerDiv {
	width: 91.50%;
	border-top: 1px solid #5797a5;
	background-color: #bdbaaf;
	height: 35px; 
	margin-left:40px;
}
#footerDiv p{
	width: 100%;
	color: #FFFFFF;
	padding-top: 10px;
	padding-right: 0;
	padding-bottom: 0px;
	padding-left: 10px;
}


/**************menu css****************/


.ubercolortabs{
padding: 0;
width: 100%;
overflow: hidden;
border:solid 0px;height:23px;
}

.ubercolortabs ul{
font: bold 11px Arial, Verdana, sans-serif;
margin: 0;
padding: 0;
list-style: none;height:23px;

}

.ubercolortabs li{
display: inline;
margin: 0 2px 0 0;
padding: 0;
text-transform: uppercase;
background:url(../images/button_on.png) ;
}

.ubercolortabs a{
float: left;
color: red;height:23px; width:130px;
background: url(../images/button_on.png) no-repeat; /*default background color of tabs, left corner image*/
text-decoration: none;
letter-spacing: 1px;
}


.ubercolortabs a:hover, .ubercolortabs li.selected a{
/*background-color: white; background color of tabs onMouseover*/
background: url(../images/button_role.png) no-repeat; height:23px; width:130px;

}

.ubercolortabs a:hover span{
background: url(../images/button_role.png) no-repeat; height:23px; width:130px;
}


